<% const entryData = getEntryData('home', entryDataMap) %>
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= entryData.meta.title %></title>
        <link rel="stylesheet" href="@src/scss/styles.scss">
        <meta name="description" content="<%= entryData.meta.description %>">
        <meta name="canonical" content="<%= entryData.meta.canonical %>">
        <meta name="robots" content="noindex">
        <% for (const [key,value] of Object.entries(entryData.meta.twitterCard)) { %>
        <meta name="twitter:<%= key %>" content="<%= value %>">
        <% } %>
    </head>

    <body>
        <div class="container py-4 px-3 mx-auto">
            <header class="d-flex justify-content-between align-items-md-center pb-3 mb-5 border-bottom">
                <h1 class="h4">
                    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                        <img class="bi bi-bootstrap-fill d-inline-block me-2" src="@src/img/logo.svg" width="36" height="36" alt="image example">
                        <span>Webpack</span>
                    </a>
                </h1>
            </header>
            <div class="pt-5">
                <% console.log('it: ', it) %>
                <h1><%= entryData.content.title %></h1>
                <p class="fs-4"><%= entryData.content.description %></p>
            </div>
        </div>
        <script src="@src/js/app.js" async></script>
    </body>

</html>
